.container {
    margin: auto;
    max-width: 80%;/*1000px;*/
    font-family: sans-serif;
  }
  
.heading {
    color: rebeccapurple;
}
.siteHeader {
    
    
    width: 100%;
    background-color: white;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    margin-bottom: 50px;
}

.navbar {
    width: 80%;
    padding-top: 15px;
    display: flex; 
    justify-content: space-between;
    margin: auto;
   
}
.nav-links {
    
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 22px;
    font-family:'Cabin', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link-text, .active  {
    color: black;
    font-size: 17px;
    padding-bottom: 3px;
}
.nav-link-text:hover, .active {
    color: palevioletred;
    border-bottom: 2px solid palevioletred;
}
.socialIcon {
    
    width: 45px;
    height: 45px;
    
    margin-left: 5px;
    margin-right: 5px;
    
    color: rgb(0, 0, 0);
}
.socialIcon:hover {
    color: palevioletred;
    float:right;
}
.websiteLogo {
    max-width: 170px;
}
