/*********GENERAL FORMATTING***************/
.section {
    margin-bottom: 20px;
    font-size: 20px;
    font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
}
.section1, .section2, .section3, .section4, .section5, .section6, .sectionAboutMe{
    box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.9);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    
}

/*********SECTION 1 FORMATTING***************/

.section1{
    min-width:53%;
}

.section1_BearImage {
    /*align-self: center;*/
    /*margin: auto;*/
    max-width: 310px;
}

.section1_Right{
    display: flex;
    flex-direction: column;
    
    
    align-items: center;
    min-width: 45%;
}
.section1_ProfilePhoto {
    
    width: 210px;
    /*
    border-bottom: 5px solid black;
    border-right: 5px solid black;*/

    border: 20px solid rgb(219, 150, 170);
    
}


/*********SECTION 2 FORMATTING***************/


.sectionAboutMe {
    background-color:rgb(250, 209, 198);
}

.section2 {
    max-width:52%;
}
.section3 {
    max-width:52%;
    
}.section4 {
    max-width:52%;
}.section5 {
    max-width:52%;
    
}.section6 {
    max-width:52%;
    
}
.section1 { background-color: #ffd8d6; } /*#FFDEDE; height: 400px;*/
.section2 { background-color: #ffeed9; margin-left: auto;} /*ffbab3*/
.section3 { background-color: #C31644; color: white;}
.section4 { background-color: #B48967; margin-left: auto;}
.section5 { background-color: #cde7dc; }
.section6 { background-color: #432B27; margin-left: auto;}
.sectionAboutMe { background-color: #ffffff;}
.sectionContainer {
    display: flex;
    
    padding-top: 25px;
    margin: auto;

    /*max-width: 80%;*/
}
.sectionName {
    font-family:'Cabin', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-top: 15px;
}
.sectionContent {
    justify-content:center;
    /*max-width: 70%;*/
}


.sectionImage2 {
    align-self:center;
     justify-content: center;
    /*
    margin-left: 50px;*/
    width: 260px;
}
.sectionImage3 {
    align-self:center;
     justify-content: center;/*
    margin-left: 50px;*/
    width: 180px;
}

.sectionImage4 {
    align-self: center;
     justify-content: center;
    /*
    margin-left: 40px;*/
}

.sectionImage5 {
    align-self: center;
    width: 190px;
    /*
    margin-left: 40px;*/
     justify-content: center;
}

.sectionImage6 {
    align-self: center;
    /*
    margin-left: 50px;*/
     justify-content: center;
}

.poetryBlock {
    color: white;
    padding: 30px;
    font-family: "Gill Sans", sans-serif;
}
.poetryBlock .poemName {
    font-size: 15px; 
    margin-bottom: 3px;
}

.poetryBlock:hover {
    background-color: #EDE5D3;
    color: black;
}
