.websiteSnippet{
  position: relative;
  margin: 10px 15px 10px 15px;
 
}

.websiteImage {
   margin: 10px 15px 10px 15px;
   max-width: 45% !important;
   box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.8);
}

.websiteImage:hover {
  filter: grayscale(80%);
}
/*
.websiteSnippet:hover .websiteDescription{
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  opacity: 1;
  
}
/*
filter: grayscale(50%);
*/

.websiteDescription {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 106, 154, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;

}

.sectionRobotics {
  min-width:50%;
  box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.9);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  background-color: #cde7dc;
}
