.websiteSnippet{
  position: relative;
  margin: 10px 15px 10px 15px;
 
}

.websiteImage {
   max-width: 40% !important;
   box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.8);
}

.websiteSnippet:hover .websiteDescription{
  visibility: visible;
  opacity: 1;
  
}
/*
filter: grayscale(50%);
*/

.websiteDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: rgba(29, 106, 154, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;

}

.sectionRobotics {
  min-width:50%;
  box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.9);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  background-color: #cde7dc;
}
