.websiteImage {
  width: 100px !important;
  box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.8);
}
.websiteImage:hover {
  filter: grayscale(50%);
}

.sectionRobotics {
  min-width:50%;
  box-shadow: 0px 2px 5px rgba(155, 155, 155, 0.9);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  background-color: #cde7dc;
}
